<div class="example-container mat-elevation-z8">
  <mat-card>
    <table mat-table id="table" [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- Cabecera -->
      <mat-card-header>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <p><strong style="color: rgb(239, 243, 243);">ID</strong></p>
          </th>
          <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <p><strong style="color: rgb(239, 243, 243);">Email</strong></p>
          </th>
          <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
        </ng-container>

        <ng-container matColumnDef="user_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <p><strong style="color: rgb(239, 243, 243);">User Name</strong></p>
          </th>
          <td mat-cell *matCellDef="let user"> {{ user.user_name }} </td>
        </ng-container>

        <ng-container matColumnDef="authorities">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <p><strong style="color: rgb(239, 243, 243);">Authorities</strong></p>
          </th>
          <td mat-cell *matCellDef="let user">
            <ul class="horizontal-list">
              <li *ngFor="let authority of user.authorities">{{ authority.name }}</li>
            </ul>
          </td>
        </ng-container>
      </mat-card-header>

      <mat-card-content>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <button id="adObject" mat-icon-button (click)="addUser()">
              <mat-icon>
                add_circle
              </mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let object">
            <button id="editObject" mat-icon-button (click)="editUser(object)">
              <mat-icon>
                mode_edit
              </mat-icon>
            </button>
            <button id="deleteUsuario" mat-icon-button>
              <mat-icon>
                delete
              </mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </mat-card-content>

    </table>
    <!-- Footer -->
    <mat-card-footer>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
