.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Opcional: Esto centrará el card verticalmente en la pantalla */
}

.card {
  width: 100%;
  max-width: 400px; /* Ajusta esto según sea necesario */
  margin: 0 auto;
  color: white;
}

.mat-card-header,
.mat-card-content,
.mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-profile {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-content mat-card-title {
  margin-right: 16px;
}

.header-content .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 16px;
}

.mat-card-title {
  color: aliceblue;
}

.form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

input[type="file"] {
  margin-top: 16px;
}

.actions-profile {
  display: flex;
  justify-content: space-around;
}
