<mat-sidenav-container fullscreen>
  <div class="container">
    <mat-card class="card">
      <!-- Cabecera -->
      <mat-card-header class="card-header">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <!-- Cuerpo -->
      <mat-card-content>
        <form class="mat-dialog-content" [formGroup]="userForm">
          <div class="form">
            <mat-form-field color="accent">
              <input matInput placeholder="Email" formControlName="email" name="email" type="email" required>
            </mat-form-field>
          </div>
          <div class="form">
            <mat-form-field color="accent">
              <input matInput placeholder="Contraseña" formControlName="pass" name="pass"
                [type]="hidePass ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <!-- Acciones -->
      <mat-card-actions class="card-actions">
        <button mat-raised-button color="primary" (click)="createUser()">No tengo cuenta</button>
        <button id="onSubmit" mat-button type="submit" [disabled]="!userForm.valid" (click)="login()">Guardar</button>
        <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-sidenav-container>
