<div class="container">
  <mat-card class="card">
    <!-- Cabecera -->
    <mat-card-header style="margin: 0 auto;">
      <mat-card-title style="color: aliceblue;">Editar runa</mat-card-title>
    </mat-card-header>
    <!-- Cuerpo -->
    <mat-card-content style="margin: 0 auto;">
      <form class="mat-dialog-content" [formGroup]="spellForm">

        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Nombre del hechizo" formControlName="name" name="name" required>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="number" placeholder="Nivel de campeon" formControlName="champion_level" name="champion_level" required>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Game mode" formControlName="game_mode" name="game_mode" required>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <textarea matInput placeholder="description" formControlName="description" name="description" type="text" required></textarea>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Cooldown" formControlName="cooldown" name="cooldown" type="text" required>
          </mat-form-field>
        </div>

      </form>
    </mat-card-content>

    <!-- Acciones -->
    <mat-card-actions style="margin: 0 auto;">
      <button id="onSubmit" mat-button type="submit" [disabled]="!spellForm.valid" (click)="confirmEdit()">Guardar</button>
      <button id="onNoClick" mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
