<mat-sidenav-container fullscreen>
  <div class="container">
    <mat-card class="card">
      <!-- Cabecera -->
      <mat-card-header style="margin: 0 auto;">
        <mat-card-title style="color: aliceblue;">Crear usuario</mat-card-title>
      </mat-card-header>
      <!-- Cuerpo -->
      <mat-card-content style="margin: 0 auto;">
        <form class="mat-dialog-content" [formGroup]="userForm">

          <div class="form">
            <mat-form-field color="accent">
              <input matInput placeholder="Nombre del usuario" formControlName="user_name" name="user_name" required>
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field color="accent">
              <input matInput placeholder="Email" formControlName="email" name="email" type="email" required>
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field color="accent">
              <input matInput placeholder="Contraseña" formControlName="pass" name="pass"
                [type]="hidePass ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>

      <!-- Acciones -->
      <mat-card-actions class="action">
        <button mat-raised-button color="primary" (click)="login()">Tengo cuenta</button>
        <button id="onSubmit" mat-button type="submit" [disabled]="!userForm.valid"
          (click)="confirmAdd()">Guardar</button>
        <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-sidenav-container>
