<div *ngIf="build">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ build.buildName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card class="objetos arriba">
        <mat-card-header>
          <mat-card-title>Objetos recomendados: {{ firstObject.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="object-container">
          <div *ngFor="let object of firstObject.objects" class="object-item">
            <img class="object-image" [src]="'/assets/no-image.jpg'" alt="No Image">
            <p class="object-name">{{ object.name }}</p>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="abajo">
        <mat-card class="runas">
          <mat-card-header>
            <mat-card-title>Runes: {{ usingRuneSet.name }}</mat-card-title>
            <mat-card-actions>
              <button mat-raised-button *ngFor="let pos of lenghtRuneSet" color="primary" (click)="useRuneSet(pos)">{{ (pos + 1) }}</button>
            </mat-card-actions>
          </mat-card-header>
        </mat-card>
        <mat-card class="hechizos">

        </mat-card>
      </div>


    </mat-card-content>

    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer>
      <mat-card-title>By {{ build.user.user_name }}</mat-card-title>
    </mat-card-footer>
  </mat-card>
</div>
