.object-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.object-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.object-image {
  width: 100px;
  height: auto;
}

.object-name {
  margin-top: 5px;
  text-align: center;
}

.custom-card-content-rune {
  display: flow;
}

.row_runas1{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.row_runas2{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.arriba{
  display: flex;
  justify-content: space-around;
  flex: 2;
}

.abajo{
  display: flex;
  flex: 1;
}

.custom-card-content-spell{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.column1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.rune-image {
  width: 65px;
  height: 65px;
}

.main-rune,
.rune,
.main-sub-rune,
.sub-rune,
.additional-advantages {
  margin-bottom: 10px;
}

.additional-advantages .rune-image {
  width: 50px;
  height: auto;
}

.additional-advantages {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.additional-advantages p {
  margin-top: 10px;
  text-align: center;
}

.header-rune {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header-spells {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn-rune {
  justify-content: flex-start;
}

.row-spell {
  display: flex;
}

.row-spell > div {
  margin-right: 20px;
}

.spell-image {
  width: 100px;
  height: auto;
}

.abajo {
  display: flex;
  flex-wrap: wrap;
}

.runas {
  flex: 2;
  margin-right: 10px;
}

.hechizos {
  flex: 1;
}

.objects {
  margin-top: 20px;
}

.btn {
  display: flex;
  justify-content: space-around;
}

.main-rune,
.rune,
.main-sub-rune,
.sub-rune {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.object-header{
  display: flex;
  justify-content: space-around;
}
