.object-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Esto centra los elementos horizontalmente */
}

.object-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.object-image {
  width: 100px;
  height: auto;
}

.object-name {
  margin-top: 5px;
  text-align: center;
}
